{% extends "base.html" %}

{% block title %}
    Felipe Rosero | Python Developer
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}

    <section id="inicio">
        <div class="inicio-contenido">
            <!-- Presentación -->
            <div class="inicio-texto">

                <p class="inicio-saludo">
                    Hello, I'm
                </p>

                <h1 class="inicio-nombre">
                    Felipe Rosero
                </h1>

                <h2 class="inicio-profesion">
                    Python Developer & Data Engineering
                </h2>

                <p class="inicio-descripcion">
                    I build scalable solutions with Python, combining backend development,
                    data science, and big data technologies to turn complex data into powerful digital products.
                </p>

                <!-- Botones -->
                <div class="inicio-botones">
                    <a href="{{ url_for('projects') }}" class="boton-principal">
                        View projects
                    </a>


                    <a href="{{ url_for('contact') }}" class="boton-secundario">
                        Contact me
                    </a>
                </div>

                <!-- Redes sociales -->
                <div class="redes-sociales">
                    <a target="_blank" href="https://www.linkedin.com/in/felipe-rosero-plua" class="icono icono-circulo"><i class="bi bi-linkedin"></i></a>
                    <a target="_blank" href="https://github.com/FMRoseroPlua" class="icono icono-circulo"><i class="bi bi-github"></i></a>
                    <a target="_blank" href="mailto:felipem.roserop@gmail.com" class="icono icono-circulo"><i class="bi bi-envelope"></i></a>
                </div>
            </div>


            <!-- Elemento visual -->
            <div class="inicio-visual">
                <div class="inicio-visual-brillo"></div>
                <div class="terminal">
                    <div class="terminal-header">
                        <span class="terminal-dot red"></span>
                        <span class="terminal-dot yellow"></span>
                        <span class="terminal-dot green"></span>

                        <span class="terminal-title">
                            python_pipeline.py
                        </span>
                    </div>
                    <div class="terminal-body">
                        <div><span class="code-purple">from</span> fastapi <span class="code-purple">import</span> FastAPI</div>
                        <div><span class="code-purple">import</span> pandas <span class="code-purple">as</span> pd</div><br>
                        <div><span class="code-blue">app</span> = FastAPI()</div><br>
                        <div><span class="code-green">data</span> = pd.read_csv(<span class="code-yellow">"dataset.csv"</span>)</div>
                        <div><span class="code-green">data</span> = data.dropna()</div><br>
                        <div class="terminal-output">✓ Data loaded</div>
                        <div class="terminal-output">✓ Processing completed</div>
                        <div class="terminal-cursor">█ </div>
                    </div>

                </div>
                <div class="tech-card tech-python">Python</div>
                <div class="tech-card tech-fastapi">FastAPI</div>
                <div class="tech-card tech-pandas">Pandas</div>
                <div class="tech-card tech-plotly">Plotly</div>
            </div>

        </div>
    </section>

{% endblock %}
