<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar">

    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand fw-bold logo-frp" href="{{ url_for('home') }}" aria-label="Felipe Rosero Portfolio">
            <span style="color: var(--color-f2);">F</span>
            <span style="color: var(--color-r2);">R</span>
            <span style="color: var(--color-p2);">P</span>
            <span style="color: var(--color-p2);">.</span>
        </a>


        <!-- Mobile button -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation -->
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">

                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'home' %}active{% endif %}" href="{{ url_for('home') }}">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'about' %}active{% endif %}" href="{{ url_for('about') }}">
                        About
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'projects' %}active{% endif %}" href="{{ url_for('projects') }}">
                        Projects
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'contact' %}active{% endif %}" href="{{ url_for('contact') }}">
                        Contact
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>